
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light
    ">
      <div class="container">
        <a class="navbar-brand" href="#">SSVk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
         
          <button type="button" routerLink="/cart" class="btn btn-sm btn-outline-secondary vc2">cart</button>
        </div>
      </div>
    </nav>
  </header>
<div class="cart-item" *ngFor="let item of items;let i=index">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
<p>{{item.quantity}}</p>
<button type="button"(click)="deletei(i)">x</button>


</div>