<app-navbar></app-navbar>
<div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-center" *ngIf="product">
        <div class="col-lg-4 left" >
            <div class="card">
            <figure>
              <img src={{product.image}} alt="" >
            </figure>
            </div>
          </div>
          <div class="col-lg-4 right">
            <div class="card-body">
              <h1>{{product.name}}.</h1>
              <p>R{{product.price}}.</p>
              <p>{{product.description}}</p>
        
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-secondary vc2" (click)="addToCart(product)">Add to cart</button>
                </div>
                
              </div>
            </div>
          </div>
        
        </div>

 </div>