<app-navbar></app-navbar>
<div class="container mt-5 pt-1">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 pt-3" *ngIf="product">
          <div class="card">
            <div class="col">
              <div  class="col-lg-4 bg-dark">
                <img src={{product.image}} alt="" style="width: 200px; height: 200px;" >
              </div>
              <div class="col-lg-2 bg-dark">
                <h6>{{product.name}}</h6>
                <p>R{{product.price}}</p>
              </div>
            </div>
          

            <div class="card-body">
              
              <p>{{product.description}}</p>
        
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-secondary vc2" (click)="addToCart(product)">Add to cart</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

 </div>