<body>
    


    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div  [formGroup]="userForm" (ngSubmit)="login()"class="form">
        <h3>Sign-up Here</h3>

        <div class="col">
        <label for="username">Email:</label>
        <input type="text" formControlName="email" placeholder="Email"  id="username"  >
        <span *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">*Email is required</span>
        </div>

        <div class="col">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" placeholder="Password" id="password" >
            <span *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched">*Password is required</span>
        </div>
        
        <div class="btns">
        <input type="submit" value="Login" class="btn btn-primary btn-large btn-block px-2 mt-3 btn1" (click)="login()" >
        
        </div>
      
    </div>
</body>